*{padding: 0;margin:auto;font-family: 'Roboto', sans-serif; }
a
{
	text-decoration: none;
}
.header .nav-header
{
	height: 75px;
	margin:0 auto ;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 30px;
}

.header .logo
{
	display: flex;
	flex-wrap: wrap;
	max-width: 30%;
    justify-content: center;
    align-items: center;
    font-size: 25px;

	
}
.header .menu
{   
	display: flex;
	flex-wrap: wrap;
	max-width: 70%;
	justify-content: flex-end;
	align-items: center;
}
.header .menu a
{
	color: black;
}
.menu ul li{
	display: inline;
	padding-left: 20px;
}
.body
{
  background-image: url('resources/img1.png');
  width: 100%;
  height: 475px;
}
.body .body-data
{ 
  padding-top: 200px;
  margin: auto;
  color: white;
  text-align: center;
  width: 38%;
}
.body .body-data p
{
	padding-top: 15px;
}

.third
{
	display:flex;
	flex-wrap: wrap;
	width: 80%;
	padding-top: 30px;
	margin: auto;
}
.fourth
{
	width: 80%;
	display: flex;
	padding-top: 30px; 
	margin: auto;

}
.fourth div
{
	width: calc(100%/7);
}
.fourth img
{
	width: 100%;
}
.fifth
{
	display: flex;
	flex-wrap: wrap;
	max-width: 20%;
}
.our
{
	padding-top: 20px;
	text-align: center;
}
.our h2
{
	color: red;
	font-size: 18px;
}
.second
{
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
	width: 80%;
	margin: auto;

}
.img{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	margin-top: 1px;
}
.box
{
	max-width: 22%;
	margin: auto;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
	height: 300px;
	padding-bottom: 10px;
}
.box h4
{
	padding-left: 15px;
	padding-top:  15px;
}
.box b
{
	padding-left: 15px;
	padding-top:  25px;
	padding-bottom: 15px;
}
.box p
{
	padding-left: 15px;
	padding-top:  5px;
	font-size: 14px;
}
.img img
{
	width: 100%;
	height: 175px;
}
.featured
{
	padding-top: 30px;
	text-align: center;
}
.featured h3
{
   	color: red;
   	padding-bottom: 10px;
}
.gal
{
	text-align: center;
	color: white;
}
.seven
{   
	padding: 50px 0px;
	background-color: #d77145;
	margin-top: 55px;
}
.copy
{
	text-align: center;
	background-color: #000000c4;
	color: white;
	margin: auto;
	font-size: 18px;
	padding-top: 40px;
	padding-bottom:40px; 
}
.footer 
 { 
	background-color: black;
	display: flex;
	
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 70px;
	font-size: 15px;

}
.footer .link ul
{   
	width :  100%;
}
.footer .link ul li a
{
	color: white;
	display: block;
	padding: 10px;
	text-decoration: none;
}
.last
{
	padding-top: 45px;
}
.about_us-body
{
	height: 200px;
	background-image: url('resources/img1.png');
	width: 100%;
}
.about_us-body .body-data p
{
	padding-top: 15px;
}
.about_us-body .body-data
{ 
  padding-top: 50px;
  margin: auto;
  color: white;
  text-align: center;
  width: 38%;
}
.About
{
	text-align: center;
	padding-bottom: 60px;

}
.About h3
{
	padding-top: 65px;
}
.About p
{
	padding-top: 19px;
	width: 40%;
}

.resource{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.resource .res-img
{
	width: 50%;

}
.resource .res-img img{
	width: 100%;
}
.resource .htm
{
	width: 50%;
	background-color: #d77145;
	margin:0px;
	padding-top: 250px; 
}
.htm h3, .htm p{
	max-width: 70%;
	color: white;
	padding-top: 14px;
}
.about-last
{
	margin-top: -45px;
}
.categories
{
	padding-bottom: 40px;
	padding-top: 20px;
	padding-left: 135px;
	width: 30%;
	margin-top: 0px;
}
.categories ul li
{
	padding-bottom: 10px;
	padding-top: 10px;
	list-style: none;
}
.pro ul li a
	  {
	  	color: black;
	  	
	  }
.cate
{
	
	display: flex;
}
.categories h3
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.bo
{
	width: 29%;
	margin: auto;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
	height: 300px;
	padding-bottom: 10px;

}
.bo h4
{
	padding-left: 15px;
	padding-top:  15px;
}
.bo b
{
	padding-left: 15px;
	padding-top:  25px;
	padding-bottom: 15px;
}
.bo p
{
	padding-left: 15px;
	padding-top:  5px;
	font-size: 14px;
}
.pager
{
	margin-left: 470px;
	margin-top: 25px;
	display: inline-flex;
}
.pager a
{
    padding: 12px;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    color: gray;
}
.pager a:first-child
{
    border-left: 1px solid gray;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.pager a:last-child
{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.an
{
	display: flex;
	margin-bottom:27px;
}
.nk
{
	display: flex;
	margin: auto;
	width: 80%;
	padding-bottom: 300px;
}
.nk .ur
{
	width: 25%;
}
.ku
{
	width: 50%;
	margin-top: 29px;
}
.ur img
{
	width: 100%;
}
.ur
{
	width: 20%;
}
.single
{
	width: 50%;
	padding-right: 10px;
	padding-bottom:200px;
	padding-top: 60px;
	padding-left: 39px;
=
}
.single h1
{
	padding-top: 10px;
}
.sing img
{
	width: 100%;
}
.single h4
{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
}
.single .btn,.form .btn1
{
	size: 10px;
	background-color:#bb4637;
	color: white;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 21px;
}
.single p
{
	padding-bottom: 20px;
}
.map iframe
{
	width: 100%
}
.form
{
	padding: 15px;
	height: 50px;
	width: 57%;
	margin-top: 70px;
	margin-bottom: 100px;

}
.form .fname
{
	padding: 15px;
	border: 1px solid black;
	width: 45%;
	margin-bottom: 25px;
}
.form .lname
{
	padding: 15px;
	border: 1px solid black;
	width: 44%;
	margin-bottom: 25px;
	margin-left: 20px;
}
.form .number
{
	padding: 15px;
	border: 1px solid black;
	width: 96%;
	margin-bottom: 25px;
}
.services
{
	padding: 15px;
	border: 1px solid black;
	width: 100%;
	margin-bottom: 25px;
}
.contact-last
{
	margin-top: 250px;
}
.form .btn1
{
	
	background-color:#d77145;
	display:flex;
}




@media(max-width: 1024px)
{
	.second{
		width: 90%;
	}
	.box
	{
		height: 310px;
	}
	.third
	{
		width: 90%;
	}
	.header .menu ul li a
	{
		color: black;
	}
}
 @media(max-width: 768px)
 {
 	.second{
		width: 100%;
	}
	.box
	{
		height: 330px;
	}
	.third
	{
		width: 100%;
	}
	.body .body-data
	{
		width: 70%;
	}
	.header .menu ul li a
	{
		color: black;
	}
 }
 @media(max-width: 425px)
 {
	.header .menu
	{
		display: block;
	}
	.menu ul li 
	{
    display: block;
    }
    .header .logo 
    {
	   	max-width: 45%;
	    font-size: 20px;
	}
	.body 
	{
	    margin-top: 35px;
	    height: 390px;
	}
	.body .body-data 
	{
    	padding-top: 128px;
    }
    .box 
    {
		    max-width: 44%;
		    margin-bottom: 10px;
	}
	.footer 
	{
		    padding-top: 0;
		    padding-bottom: 0;
		    padding-left: 10px;
		    padding-right: 0;
		    font-size: 11px;
		    flex-wrap: wrap;
	}
	.header .menu ul li a
	{
			color: black;
	}
	.footer .link ul li a
	{
		   	width: 127px;
		    text-align: center
	}
 	.footer .link ul  
 	{
		 	padding-top: 10px;
		 	padding-bottom: 10px;
 	}
 	.copy 
 	{
		    font-size: 14px;
	}
 }
 @media(max-width: 320px)
 {
	.second
	{
			display: block;
	}
	.third
	{
			display: block;
	}
	.last .copy
	{
			font-size: 12px;
	}
	.header .logo 
	{
		    font-size: 18px;
		   	
	}
	.box 
	{
		    max-width: 70%;
    }
 }
 @media(max-width: 1440px)
 {
 	.About p 
 	{
    	width: 41%;
	}
 }
 @media(max-width: 1024px)
 {
 	.About p 
 	{
    	width: 59%;
	}
	.resource .htm 
	{
	    padding-top: 112px;
	}
	.about_us-body .body-data p 
	{
   		font-size: 16px;
   		width: 105%;
	}
 }
  @media(max-width: 768px)
  {
  	.about_us-body .body-data 
  	{
   		width: 60%;
	}
	.About p 
	{
    	width: 73%;
	}
	.resource .htm 
	{
    	padding-top: 0px;
	}
	.res .htm p
	{
		font-size: 13px;
	}
	.res .htm h3
	{
		padding-top: 80px;
	}
  }
  @media(max-width: 425px)
  {
  	.about_us-body 
  	{
   		 margin-top: 25px;
	}
	.about_us-body .body-data p 
	{
		 font-size: 13px;
		    
	}
	.res .htm h3 
	{
    	padding-top: 31px;
    	font-size: 12px;
	}	
	.res .htm p 
	{
	    font-size: 8px;
	    padding-top: 2px;
	}

  }
  @media(max-width: 375px)
  {
 	.resource .htm 
  	{
   		padding-top: 0px;
    	margin: auto;
    }
	.resource 
	{
    	display: block;
    	width: 100%;
	}
  }
  @media(max-width: 375px)
  {
	.About p 
	{
	    
	    font-size: 12px;
	}
  }
  @media(max-width: 1024px)
  {
  	.about_us-body .body-data p 
  	{
	    font-size: 15px;
	}
	.bo 
	{
    	height: 310px;
    }
    .pager 
    {
   		margin-left: 302px;
	}
  }
   @media(max-width: 768px)
   {
       .categories 
     {
        padding-left: 48px;
     }
     .pager 
     {
    	margin-left: 177px;
	 }
   }
   @media(max-width: 425px)
   {
      .pager 
      {
	    margin-left: 106px;
	  }
	  .bo 
	  {
    	width: 50%;
      }
      .cate 
      {
    	display: block;
	  }
	  .about_us-body .body-data p 
	  {
    	font-size: 14px;
	  }
	  .pro ul li a
	  {
	  	display: flex;
	  	flex-wrap: wrap;

	  }
	  .categories
	  {
	  	//display: inline-block;
	  	width: 100%;
	  	padding-left: 15px;
	  }
	  .pro ul li 
	  {
	  	display: inline-block;
	  }
   }
    @media(max-width: 375px)
    {
    	 .pager 
    	 {
   			 margin-left: 94px;
		 }
		 .about_us-body .body-data p 
		 {
    		 font-size: 13px;
		 }
		 .copy h3
		 {
		 	font-size: 12px;
		 }
    }
      @media(max-width: 375px)
      {
      	 .pager 
      	  {
   			 margin-left: 90px;
	      }
	      .bo p 
	      {
              font-size: 12px;
           }
           .pager a 
           {
   			 padding: 8px;
   		   }
   	 }
   	  @media(max-width: 320px)
   	    {
   	    	.pager a 
           {
   			 padding: 6px;
   		   }
   		    .pager 
      	  {
   			 margin-left: 80px;
	      }
   	    }    
      @media(max-width: 1024px)
        {
			.nk 
			{
                width: 91%;
    		}
    		.single p 
    		{
   				font-size: 14px;
   				padding-bottom: 4px;
   				padding-top: 5px;

			}
			.single
			{		
				padding-top: 30px;
			}
			.single h4 
			{
			    padding-top: 2px;
			    padding-bottom: 2px;
			    font-size: 25px;
			}
        }
       @media(max-width: 768px)
        {
        	.single 
        	{
   				 padding-top: 20px;
   			}
   		}
   		@media(max-width:425px)
   		{
   			.nk 
   			{
			    display: block;
			}
			.ku 
			{
    			width: 75%;
            }
            .single
            {
            	width: 75%;
            }

   		}
   		@media(max-width:1024px)
   		{
   			.form .fname 
   			{
			    
			    width: 42%;
			    
			}
			.form .lname 
   			{
			    
			    width: 42%;
			    
			}
			.form .number
   			{
			    
			    width: 94%;
			    
			}
   		}
   		@media(max-width:768px)
   		{
   			.form .fname 
   			{
			    
			    width: 39%;
			    
			}
			.form .lname 
   			{
			    
			    width: 39%;
			    
			}
			.form .number
   			{
			    
			    width: 91%;
			    
			}
			.form .services
   			{
			    
			    width: 98%;
			    
			}
   		}
   		@media(max-width:425px)
   		{
   			.form .fname 
   			{
			    
			    width: 31%;
			    
			}
			.form .lname 
   			{
			    
			    width: 31%;
			    
			}
			.form .number
   			{
			    
			    width: 85%;
			    
			}
			.form .btn1 
			{
			    padding: 8px;
			    font-size: 14px;
			}
		}
		@media(max-width:375px)
   		{
   			.form .fname 
   			{
			    
			    width: 28%;
			    
			}
			.form .lname 
   			{
			    
			    width: 28%;
			    
			}
		}
		@media(max-width:320px)
   		{
   			.form .fname 
   			{
			    
			    width: 25%;
			    
			}
			.form .lname 
   			{
			    
			    width: 26%;
			    
			}
		}